# ignore system files
.DS_Store
node_modules
.mvn
.idea
.vscode

.venv-ipynb
.venv

.virtual_documents/
.jupyter/

# notebooks/cncf/landscape-summary.ipynb
*.json.compact
*.feather
notebooks/cncf/generated/
notebooks/cncf/out/

