.venv*
.venv
venv
ve-*
venv-ipynb
.venv-ipynb
*.svg
.vscode/
.env
.DS_Store
.idea
.vscode

.venv-ipynb
.venv

.virtual_documents/
node_modules/
# *.arrow
# *.csv
*.gz

_versions.env

# icon archive
.venv-icons/

*.docker-build.log


# guacsec/guac
guac/guac-compose/container_files/pg

data/sbom/downloaded-sboms/*




.virtual_documents/
.jupyter/

# notebooks/cncf/landscape-summary.ipynb
*.json.compact

